Repository fingon/sssmemvault: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-mod-tidy

golangci-lint:
  name: Run golangci-lint
  language: system
  pass_filenames: false
  entry: make lint

go-mod-tidy:
  name: Run go mod tidy
  language: system
  pass_filenames: false
  entry: go mod tidy -v

First version by Gemini
  cmd/sssmemvaultd/main.go
  go.mod
  go.sum
  internal/auth/auth.go
  internal/config/config.go
  internal/crypto/crypto.go
  internal/crypto/keys.go
  internal/node/node.go
  internal/server/server.go
  internal/store/store.go
  internal/synchronizer/synchronizer.go
  proto/sssmemvault.pb.go
  proto/sssmemvault.proto
  proto/sssmemvault_grpc.pb.go
Due: golangci-lint, go-mod-tidy

First version of sssmemvault-push
  .gitignore
  Makefile
  README.md
  cmd/sssmemvault-push/main.go
  internal/crypto/keys.go
  internal/server/server.go
  proto/sssmemvault.pb.go
  proto/sssmemvault.proto
  proto/sssmemvault_grpc.pb.go
Due: golangci-lint

Add slightly more handy way to add secrets, single config for all
  README.md
  cmd/sssmemvault-push/main.go
  cmd/sssmemvaultd/main.go
  internal/config/config.go
  internal/server/server.go
Due: golangci-lint

Merge 2 commands to one, add third get mode
  .gitignore
  Makefile
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvaultd/main.go
  internal/cliutil/cliutil.go
  internal/config/config.go
  internal/crypto/keys.go
  internal/daemon/daemon.go
  internal/get/get.go
  internal/node/node.go
  internal/push/push.go
Due: golangci-lint

Improve readme, add allowed_source_cidrs
  CONVENTIONS.md
  README.md
  internal/auth/auth.go
  internal/config/config.go
Due: golangci-lint

Simplify
  internal/auth/auth.go
  internal/get/get.go
  internal/push/push.go
Due: golangci-lint

Add integration test
  .gitignore
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  go.mod
  go.sum
  internal/config/config.go
  internal/crypto/crypto.go
  internal/crypto/keys.go
  internal/get/get.go
  internal/node/node.go
  internal/push/push.go
  internal/store/store.go
  internal/synchronizer/synchronizer.go
Due: golangci-lint, go-mod-tidy

Add suport for variable fragment counts
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  internal/config/config.go
  internal/crypto/crypto.go
  internal/crypto/keys.go
  internal/get/get.go
  internal/push/push.go
  internal/server/server.go
  proto/sssmemvault.pb.go
  proto/sssmemvault.proto
Due: golangci-lint

Identify nodes by name instead of ip
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  internal/auth/auth.go
  internal/config/config.go
  internal/daemon/daemon.go
  internal/get/get.go
  internal/node/node.go
  internal/push/push.go
  internal/server/server.go
  internal/synchronizer/synchronizer.go
  proto/sssmemvault.pb.go
  proto/sssmemvault.proto
Due: golangci-lint

Initial commit
  LICENSE
Due: none

Refactor the code to smaller functions
  cmd/sssmemvault/main_test.go
  internal/config/config.go
  internal/crypto/crypto.go
  internal/daemon/daemon.go
  internal/get/get.go
  internal/push/push.go
  internal/server/server.go
  internal/synchronizer/synchronizer.go
Due: golangci-lint

Combine signing and hybrid keysets to same file
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  internal/auth/auth.go
  internal/config/config.go
  internal/crypto/keys.go
  internal/daemon/daemon.go
  internal/genkeys/genkeys.go
  internal/get/get.go
  internal/node/node.go
  internal/push/push.go
  internal/server/server.go
Due: golangci-lint

README: Simplify the readme get example
  README.md
Due: none

Added another test case with 2 out of 3 nodes being available
  cmd/sssmemvault/main_test.go
Due: golangci-lint

Remove internal/cliutil
  cmd/sssmemvault/main.go
  internal/cliutil/cliutil.go
Due: golangci-lint

Minor comment/code cleanup
  CONVENTIONS.md
  internal/crypto/crypto.go
  internal/server/server.go
  internal/store/store.go
Due: golangci-lint

README: Add TODO
  README.md
Due: none

Add support for more than one fragment per owner
  README.md
  cmd/sssmemvault/main_test.go
  internal/config/config.go
  internal/push/push.go
Due: golangci-lint

Implement connection per sync request
  README.md
  internal/daemon/daemon.go
  internal/synchronizer/synchronizer.go
Due: golangci-lint

Add detach mode, configuration checking
  README.md
  cmd/sssmemvault/main.go
  go.mod
  go.sum
  internal/daemon/daemon.go
Due: golangci-lint, go-mod-tidy

More refactoring - split functions
  internal/crypto/keys.go
  internal/daemon/daemon.go
  internal/get/get.go
  internal/node/node.go
  internal/push/push.go
Due: golangci-lint

Cleanup
  README.md
  internal/get/get.go
  internal/store/store.go
  proto/sssmemvault.pb.go
  proto/sssmemvault.proto
Due: golangci-lint

refactor: Use generated constant for Push method name
  internal/server/server.go
Due: golangci-lint

refactor: Handle SIGHUP for config reload with less ifs
  internal/daemon/daemon.go
Due: golangci-lint

Makefile: Add corrent dependencies on when to build binary
  Makefile
Due: none

Rename key gen to gen keys, refactor Kong code somewhat
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  internal/daemon/daemon.go
  internal/genkeys/genkeys.go
  internal/get/get.go
  internal/push/push.go
Due: golangci-lint

Added fifth command - 'gen sign'
  README.md
  cmd/sssmemvault/main.go
  cmd/sssmemvault/main_test.go
  internal/genkeys/genkeys.go
  internal/gensign/gensign.go
Due: golangci-lint

Makefile: Add binary as default target too
  Makefile
Due: none

Add --prefix as alternative way to specify both public+private key name
  README.md
  internal/genkeys/genkeys.go
  internal/gensign/gensign.go
Due: golangci-lint

Remove workdir switch on daemonization
  internal/daemon/daemon.go
Due: golangci-lint

Makefile: Add hardcoded supported binaries
  .gitignore
  Makefile
  README.md
Due: none

daemon: Start method did not block anymore, so it Stopped immediately
  internal/daemon/daemon.go
Due: golangci-lint

Fix 'already running' case to exit 0
  README.md
  internal/daemon/daemon.go
Due: golangci-lint

Add support for passing master private key via CLI/env
  internal/crypto/keys.go
  internal/push/push.go
Due: golangci-lint

Downgrade 'not all fragments' message to warn, as it can be harmless
  README.md
  internal/get/get.go
Due: golangci-lint

Makefile: When building binary, system test it first
  Makefile
Due: none

daemon: Add --own-private-key-value option and environment variable
  internal/crypto/keys.go
  internal/daemon/daemon.go
Due: golangci-lint

daemon: Add existing daemon check
  internal/config/config.go
  internal/daemon/daemon.go
Due: golangci-lint

daemon: On fresh disk, .Search returns an error but it is fine
  internal/daemon/daemon.go
Due: golangci-lint

push: Support supplying secrets via env
  README.md
  internal/push/push.go
Due: golangci-lint

Path conditions:
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
